/* Global Styles */

:root {
	--bg-color: #b4b4bf;
	--main-color: #355168cc;
	--secondary-color: #0e161caa;
	--accent-color: #6295bfcc;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--secondary-color);
}

h1 {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;
	color: white;
	background-color: var(--main-color);
	border-radius: 3px;
	padding: 5px;
}

h2 {
	font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
	color: white;
	background-color: var(--accent-color);
	border-radius: 3px;
	padding: 5px;
}

h3 {
	font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
}

p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
}

ul {
	margin-left: 20px;
	list-style: none;
}

li {
	padding: 5px 0;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

/* Header Style */

.header {
	padding: 10px 0px 10px 35px;
	background-color: var(--main-color);
	border-radius: 0 !important;
}

/* Section Styles */

section {
	width: 95vw;
	margin: 30px auto;
	border-radius: 4px;
	background-color: var(--bg-color);
}

.sectionHeader {
	padding: 2px 5px;
}

.flex div {
	margin: 20px;
}

/* Color Section Styles */

.colors div {
	text-align: center;
	padding: 10px 0px;
}

.whiteText {
	color: white;
}

.gray {
	background-color: var(--bg-color);
}

.blue {
	background-color: var(--main-color);
}

.darkGray {
	background-color: var(--secondary-color);
}

.lightBlue {
	background-color: var(--accent-color);
}

/* Font Section Styles */

.helv h3,
.helv p {
	font-family: Helvetica !important;
}

.roboto h3,
.roboto p {
	font-family: 'Roboto', sans-serif !important;
}

.openSans h3,
.openSans p {
	font-family: 'Open Sans Condensed', sans-serif !important;
}
